## 1757. Recyclabe and Low Fat Products

### **Descripción del problema**

Escribe una solución para encontrar los IDs de productos los cuales ambos son 'low fat' y 'recycable'.

Return the result table in any order

---

### **Estructuras de las tablas**

#### **Tabla: Visits**
| Column Name | Type |
| :--- | :--- |
| product_id | int |
| low_fats | enum |
| recycable | enum |

`product_id` is the primary key (column with unique values) for this table.
low_fats is an ENUM (category) of type ('Y', 'N') where 'Y' means this product is low fat and 'N' means it is not.
recyclable is an ENUM (category) of types ('Y', 'N') where 'Y' means this product is recyclable and 'N' means it is not.

---

### **Solución en SQL**

La lógica para este problema es identificar los productos de baja grasa y reciclables, lo cual logramos con un filtro WHERE.

```sql
SELECT
    -- Seleccionamos el ID del producto
    product_id,
FROM
    Products
WHERE
    -- Filtramos para quedarnos solo con los productos con 'Y'.
    where low_fats = 'Y' and recyclable = 'Y';

***Resultado Obtenido***

| product_id |
| ---------- |
| 1          |
| 3          |

Es decir, los productos 1 y 3 cumplen con el criterio.

## 1581. Customer Who Visited but Did Not Make Any Transactions

### **Descripción del problema**

Escribe una solución para encontrar los IDs de los usuarios que visitaron sin hacer alguna compra y el número de veces que hicieron ese tipo de visitas.

Return the result table sorted in any order

---

### **Estructuras de las tablas**

#### **Tabla: Visits**
| Column Name | Type |
| :--- | :--- |
| visit_id | int |
| customer_id | int |

`visit_id` is the primary key for this table.
This table contains information about customers who visited the mall.

#### **Tabla: Transactions**
| Column Name | Type |
| :--- | :--- |
| transaction_id | int |
| visit_id | int |
| amount | int |

`transaction_id` is the primary key for this table.
This table contains information about the transactions made during the visit.

---

### **Solución en SQL**

La lógica para este problema es identificar las visitas sin transacciones, lo cual logramos con un LEFT JOIN y un filtro en la cláusula WHERE. Luego, agrupamos y contamos las visitas por cliente.

```sql
SELECT
    -- Seleccionamos el ID del cliente y contamos el número de visitas sin transacciones.
    v.customer_id,
    COUNT(v.visit_id) AS count_no_trans
FROM
    Visits AS v
-- Utilizamos LEFT JOIN para asegurar que todas las visitas se incluyan,
-- incluso si no hay una transacción asociada.
LEFT JOIN
    Transactions AS t ON v.visit_id = t.visit_id
WHERE
    -- Filtramos para quedarnos solo con las visitas que no tienen una transacción.
    -- Las filas sin coincidencia en la tabla 'Transactions' tendrán 'NULL' en sus columnas.
    t.transaction_id IS NULL
GROUP BY
    -- Agrupamos por cliente para contar las visitas de cada uno de forma individual.
    v.customer_id

***Resultado Obtenido***

| customer_id | count_no_trans |
| :--- | :--- |
| 30 | 1 |
| 96 | 1 |
| 54 | 2 |

Prueba nueva