# SELECT

## 1757. Recyclabe and Low Fat Products

### **Descripción del problema**

Escribe una solución para encontrar los IDs de productos los cuales ambos son 'low fat' y 'recycable'.

Return the result table in any order

---

### **Estructuras de las tablas**

#### **Tabla: Visits**
| Column Name | Type |
| :--- | :--- |
| product_id | int |
| low_fats | enum |
| recycable | enum |

`product_id` is the primary key (column with unique values) for this table.
low_fats is an ENUM (category) of type ('Y', 'N') where 'Y' means this product is low fat and 'N' means it is not.
recyclable is an ENUM (category) of types ('Y', 'N') where 'Y' means this product is recyclable and 'N' means it is not.

---

### **Solución en SQL**

La lógica para este problema es identificar los productos de baja grasa y reciclables, lo cual logramos con un filtro WHERE.

```sql
SELECT
    -- Seleccionamos el ID del producto
    product_id,
FROM
    Products
WHERE
    -- Filtramos para seleccionar solo los productos con 'Y'.
    where low_fats = 'Y' and recyclable = 'Y';

***Resultado Obtenido***

| product_id |
| ---------- |
| 1          |
| 3          |

Es decir, los productos 1 y 3 cumplen con el criterio.

## 584. Find Customer Referee
### **Descripción del problema**

Encuentra los nombres de los clientes que:
1. referidos por cualquier cliente con `id != 2`,
o
2. no referido por cualquier cliente.

Return the result table sorted in any order

---

### **Estructuras de las tablas**

#### **Tabla: Customer**
| Column Name | Type |
| :--- | :--- |
| id | int |
| name | varchar |
| referee_id | int  |

In SQL, `id` is the primary key column for this table.
Each row of this table indicates the id of a customer, their name, and the id of the customer who referred them.

---

### **Solución en SQL**

La lógica para este problema es identificar los nombres de los clientes referidos con id $\neq$ 2 o que no son referidos por cualquier cliente mediante un filtro WHERE.

```sql
SELECT
    -- Seleccionamos nombre del cliente
    name,
FROM
    Customer
WHERE
    -- Filtramos si está vacío o si es diferente de 2
    referee_id is Null or referee_id != 2

***Resultado Obtenido***

| name |
| ---- |
| Will |
| Jane |
| Bill |
| Zack |

## 595. Big Countries
### **Descripción del problema**

Escribe una solución para encontrar el nombre, población y area de las *grandes ciudades*. Donde es una ciudad grande si: el área es de al menos 3,000,000 km^2 y tiene como población al menos 25,000,000 de personas.

Return the result table sorted in any order

---

### **Estructuras de las tablas**

#### **Tabla: Visits**
| Column Name | Type |
| :--- | :--- |
| name | varchar |
| continent | varchar |
| area | int  |
| population | int |
| gdp | bigint |

`name` is the primary key (column with unique values) for this table.
Each row of this table gives information about the name of a country, the continent to which it belongs, its area, the population, and its GDP value.

---

### **Solución en SQL**

La lógica para este problema es identificar las ciudades grandes por nombre, población y área. Se requiere filtrar con WHERE la población mayor o igual a 25,000,000 o con área mayor o igual a 3,000,000.

```sql
SELECT
    -- Seleccionamos nombre, area y población de los países del mundo
    name, area, population,
FROM
    World
WHERE
    -- Filtramos la poblaión
    population >= 25000000 or area >= 3000000

***Resultado Obtenido***

| name        | area    | population |
| ----------- | ------- | ---------- |
| Afghanistan | 652230  | 25500100   |
| Algeria     | 2381741 | 37100000   |

## 1148. Article Views I
### **Descripción del problema**

Encuentra una solución para encontrar a todos los autores que vieron al menos una vez sus propios artículos.

Return the result table sorted by `id` in ascending order.

---

### **Estructuras de las tablas**

#### **Tabla: Customer**
| Column Name | Type |
| :--- | :--- |
| article_id    | int     |
| author_id     | int     |
| viewer_id     | int     |
| view_date     | date    |

There is no primary key (column with unique values) for this table, the table may have duplicate rows.
Each row of this table indicates that some viewer viewed an article (written by some author) on some date. 
Note that equal author_id and viewer_id indicate the same person.

---

### **Solución en SQL**

La lógica para este problema es identificar a los autores que han visto al menos una vez sus artículos mediante un WHERE, después de ordenan con un GROUP BY en orden ascendente.

```sql
SELECT DISTINCT
    -- Seleccionamos nombre el id del autor sin repeticiones (like UNIQUE in Pandas or 'drop_duplicates()')
    author_id AS id,
FROM
    Views
WHERE
    -- Filtramos para que coincidan los id's
    author_id = viewer_id
    
    -- Ordenamos de manera ascendente
ORDER BY id ASC;

***Resultado Obtenido***

| id |
| -- |
| 4  |
| 7  |

Esto quiere decir que sólo los autores con el id = 4 y 7, vieron su propio artículo (sin repeticiones).

## 1683. Invalid Tweets
### **Descripción del problema**

Encuentra una solución para encontrar los IDs de tweets inválidos. Un tweet es inválido si el número de caracteres usados en el contenido del tweet es **estrictamente mayor ** que `15`.

Return the result table in any order.

---

### **Estructuras de las tablas**

#### **Tabla: Customer**
| Column Name | Type |
| :--- | :--- |
| tweet_id       | int     |
| content        | varchar |

tweet_id is the primary key (column with unique values) for this table.
content consists of alphanumeric characters, '!', or ' ' and no other special characters.
This table contains all the tweets in a social media app.

---

### **Solución en SQL**

La lógica para este problema es identificar el Tweet con un contenido de caracteres mayor a 15 mediante un filtro WHERE

```sql
SELECT DISTINCT
    -- Seleccionamos nombre el id del tweet
    tweet_id,
FROM
    Tweets
WHERE
    -- Filtramos por el largo del contenido
    length(content) >15

| tweet_id |
| -------- |
| 2        |

Esto significa que sólo existe un tweet inválido en esta base de datos.

# BASIC JOINS

## 1378. Replace Employee ID With The Unique Identifier

### **Descripción del problema**

Escribe una solución para mostrar el **unique ID** de cada usuario, si un usuario no tiene un unique ID reemplzarlo por `visit_id`

Return the result table sorted in any order

---

### **Estructuras de las tablas**

#### **Tabla: Employee**
| Column Name | Type |
| :--- | :--- |
| id | int |
| name | varchar |

id is the primary key (column with unique values) for this table.
Each row of this table contains the id and the name of an employee in a company.

#### **Tabla: Employees ID**
| Column Name | Type |
| :--- | :--- |
| id | int |
| unique_id | int |

(id, unique_id) is the primary key (combination of columns with unique values) for this table.
Each row of this table contains the id and the corresponding unique id of an employee in the company.

---

### **Solución en SQL**

La lógica para este problema es identificar a los usuarios con id único, lo cual logramos con un LEFT JOIN.

```sql
SELECT
    -- Seleccionamos el ID único del cliente y nombre corresponiente
    ei.unique_id, e.name
FROM
    Employees as e
-- Utilizamos LEFT JOIN para asegurar que todos los usuarios obtengan un id,
LEFT JOIN
    EmployeeUni as ei on (e.id = ei.id)

***Resultado obtenido***

| unique_id | name     |
| --------- | -------- |
| null      | Alice    |
| null      | Bob      |
| 2         | Meir     |
| 3         | Winston  |
| 1         | Jonathan |

## 1581. Customer Who Visited but Did Not Make Any Transactions

### **Descripción del problema**

Escribe una solución para encontrar los IDs de los usuarios que visitaron sin hacer alguna compra y el número de veces que hicieron ese tipo de visitas.

Return the result table sorted in any order

---

### **Estructuras de las tablas**

#### **Tabla: Visits**
| Column Name | Type |
| :--- | :--- |
| visit_id | int |
| customer_id | int |

`visit_id` is the primary key for this table.
This table contains information about customers who visited the mall.

#### **Tabla: Transactions**
| Column Name | Type |
| :--- | :--- |
| transaction_id | int |
| visit_id | int |
| amount | int |

`transaction_id` is the primary key for this table.
This table contains information about the transactions made during the visit.

---

### **Solución en SQL**

La lógica para este problema es identificar las visitas sin transacciones, lo cual logramos con un LEFT JOIN y un filtro en la cláusula WHERE. Luego, agrupamos y contamos las visitas por cliente.

```sql
SELECT
    -- Seleccionamos el ID del cliente y contamos el número de visitas sin transacciones.
    v.customer_id,
    COUNT(v.visit_id) AS count_no_trans
FROM
    Visits AS v
-- Utilizamos LEFT JOIN para asegurar que todas las visitas se incluyan,
-- incluso si no hay una transacción asociada.
LEFT JOIN
    Transactions AS t ON v.visit_id = t.visit_id
WHERE
    -- Filtramos para quedarnos solo con las visitas que no tienen una transacción.
    -- Las filas sin coincidencia en la tabla 'Transactions' tendrán 'NULL' en sus columnas.
    t.transaction_id IS NULL
GROUP BY
    -- Agrupamos por cliente para contar las visitas de cada uno de forma individual.
    v.customer_id

***Resultado Obtenido***

| customer_id | count_no_trans |
| :--- | :--- |
| 30 | 1 |
| 96 | 1 |
| 54 | 2 |

## 1068. Product Sales Analysis I

### **Descripción del problema**

Escribe una solución para reportar `product_name`, `year` y `precio` para cada `sale_id` en la tabla `Sales`.

Return the result table sorted in any order

---

### **Estructuras de las tablas**

#### **Tabla: Sales**
| Column Name | Type |
| :--- | :--- |
| sale_id     | int   |
| product_id  | int   |
| year        | int   |
| quantity    | int   |
| price       | int   |

(sale_id, year) is the primary key (combination of columns with unique values) of this table.
product_id is a foreign key (reference column) to `Product` table.
Each row of this table shows a sale on the product product_id in a certain year.
Note that the price is per unit.

#### **Tabla: Product**
| Column Name | Type |
| :--- | :--- |
| product_id   | int     |
| product_name | varchar |

product_id is the primary key (column with unique values) of this table.
Each row of this table indicates the product name of each product.

---

### **Solución en SQL**

La lógica para este problema es identificar los productos por año y precio, lo cual logramos con un INNER JOIN.

```sql
SELECT
    -- Seleccionamos nombre del producto, año y precio
    p.product_name, s.year, s.price
FROM
    Sales as s
-- Utilizamos INNER JOIN unir ambas tablas por id
INNER JOIN
    Product as p on (s.product_id = p.product_id)

***Resultado obtenido:***

| product_name | year | price |
| ------------ | ---- | ----- |
| Nokia        | 2009 | 5000  |
| Nokia        | 2008 | 5000  |
| Apple        | 2011 | 9000  |